:root {
  --text: #f8f9f6;
  --background: #0a0c08;
  --primary: #839366;
  --secondary: #364f36;
  --accent: #4c7051;
}

/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

/* App container */
#root {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  padding: 20px;
  margin-top: 60px; /* Adjust if navbar height changes */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: var(--accent);
}

.social-media-icons {
  display: flex;
  gap: 15px;
  margin-right: 20px; /* Adjust margin as needed */
}

.social-media-icons a {
  color: var(--text);
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: var(--accent);
}

/* Main content */
.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  text-align: center; /* Center the content */
}

/* Align sections */
#about,
#blog,
#photo,
#projects {
  padding: 20px;
  text-align: center; /* Center the titles and content */
}

/* Footer */
.footer {
  background-color: var(--background);
  color: var(--text);
  text-align: right;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%; /* Ensure footer spans the full width */
}

.footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.footer-left,
.footer-right {
  padding: 0 10px;
}

.footer p {
  margin: 0;
  font-size: 0.8rem;
}

/* About Section */
#about {
  padding: 40px 20px;
  background-color: var(--background);
}

.about-section {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-photo {
  flex: 1;
}

.photo {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.bio-container {
  flex: 2;
}

.bio-container h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--text);
}

.bio-container h3 {
  font-size: 1.5rem;
  color: var(--primary);
}

.bio-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text);
}

.bio-container a {
  color: var(--accent);
  text-decoration: none;
}

.bio-container a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    gap: 20px;
  }

  .bio-container {
    padding-left: 0;
    text-align: center;
  }
}

/* Photo Section */
#photo {
  padding: 20px;
  background-color: var(--background);
  width: 100%; /* Ensure the section spans the full width */
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px; /* Adjust gap between photos */
  margin: 0;
  padding: 0 20px; /* Add padding to prevent photos from touching the edges */
  width: 100%; /* Ensure the grid spans the full width */
}

.photo-card {
  position: relative;
  overflow: hidden;
  background-color: var(--secondary);
  transition: transform 0.3s, box-shadow 0.3s;
  aspect-ratio: 1 / 1; /* Maintain aspect ratio */
  max-width: 100px; /* Adjust size as needed */
  width: 100%; /* Ensure photo cards use the full width of their container */
}

.photo-card img {
  width: auto; /* Preserve original width */
  height: auto; /* Preserve original height */
  max-width: 100%; /* Scale down to fit within the card */
  max-height: 100%; /* Scale down to fit within the card */
  object-fit: cover; /* Maintain aspect ratio */
}

.photo-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: var(--text);
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.photo-card:hover .photo-description {
  opacity: 1;
}

/* Projects Section */
#projects {
  padding: 20px;
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.project-image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  padding: 15px;
}

.project-content h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.project-content p {
  font-size: 1rem;
  color: #666;
}
