/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* App container */
#root {
  display: flex;
  padding: 20px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.profile-section {
  text-align: center;
}

.profile-pic {
  width: 166px;
  height: 166px;
  border-radius: 10%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.toggle-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toggle-buttons button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.toggle-buttons button.active {
  background-color: #777;
  color: #000;
}

.menu {
  margin-top: 20px;
  width: 100%;
}

.menu button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu button:hover {
  background-color: #555;
}

.social-media-icons {
  margin-top: auto;
  margin-bottom: 40px;
}

.social-media-icons a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-media-icons a:hover {
  color: #888;
}

/* Main content */
.content {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
}

/* Align sections */
#professional-section,
#personal-section,
#about,
#about2,
#cool,
#blog,
#experience,
#projects {
  padding: 20px;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: right;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.footer-left,
.footer-right {
  padding: 0 10px;
}

.footer p {
  margin: 0;
  font-size: 0.8rem;
}

/* About Section */
.about-container,
.about-container2 {
  display: flex;
  flex-direction: column;
}

.bio-container,
.bio-container2 {
  width: 100%;
  margin-bottom: 20px;
}

.bio-container h1,
.bio-container2 h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.bio-container h3,
.bio-container2 h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #555;
}

.bio-container p,
.bio-container2 p {
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-container,
  .about-container2 {
    flex-direction: column;
    padding: 10px;
  }

  .bio-container,
  .bio-container2 {
    padding-left: 0;
    text-align: center;
  }
}

/* Cool Stuff Section */
#cool .section {
  margin-bottom: 30px;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
}

.photo-gallery img {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
